body {
  background-color: gainsboro;
  /* Use a system font, if none are available use an available sans-sarif */
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 355px;
  gap: 6px;
}

.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
    transition: ease-in-out 0.3s;
}
.sqr:hover {
  background-color: antiquewhite;
  width: 30.5%;
}

#reset {
  background-color: gainsboro;
  border: 3px solid black;
  padding: 10px 20px;
  font-size: 24px;
  margin-top: 20px;
  transition: ease-in-out 0.3s;

}
#reset:hover {
  background-color: antiquewhite;
  font-size: 25px;;
  border: 3px solid black;
}